.record-due {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: white;
}

.message {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.breached {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.upcoming {
  color: #155724; 
  background-color: transparent; 
  border-color: #c3e6cb; 
  padding: 0.5rem 1rem;
  border-radius: 0.25rem; 
  font-weight: bold;
}
